
/*
| --------------------------------
| Legend
| --------------------------------
*/

#legendRoot {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    padding-bottom: 16%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: var(--2-5);
    flex-direction: column;
    gap: var(--16);
}

#legendRoot svg,
#legendRoot img {
    fill: white;
    color: white;
    margin-bottom: 1.25rem;
    max-width: 6.5rem;
}

#legendRoot figure {
    text-align: center;
    padding: 0;
    margin: 0 var(--4);
}

#legendRoot figcaption {
    width: 8.5rem;
}