:root {
    --color-secondary: #de7f7d;
}

#app {
    --sideColumn: 20rem;
    --speed: 500ms;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: var(--12) 1fr var(--16);
    grid-template-columns: var(--sideColumn) 1fr var(--sideColumn);
    overflow: hidden;
    /*transition: grid-template-columns var(--speed) ease-out;*/
}

#navigation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    grid-column: span 3;
    grid-row: 1 / 2;
    padding: var(--2) var(--4);
    font-size: var(--3);
}

/*
| --------------------------------
| Diagram
| --------------------------------
*/

#diagramRoot {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow: hidden;
}


#diagramContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#diagram {
    max-width: calc(92%);
    max-height: calc(92%);
    aspect-ratio: 1;
}

#diagram text {
    font-weight: 400;
    text-align: center;
    font-size: var(--3-5);
    text-transform: uppercase;
    user-select: none;
    opacity: .6;
    /*letter-spacing: -.015em;*/
}

/*
| --------------------------------
| Labels
| --------------------------------
*/

#labels {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

.floatingLabel {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 11.25rem;
    text-align: center;
    padding: var(--1) var(--1-5);
    border-radius: var(--2);
    border: 1px solid white;
    background: rgb(25 23 51 / 0.7);
    color: white;
    font-size: var(--3);
    user-select: none;
    z-index: 5;
}

.floatingLabel[data-id=selected] {
    color: red;
    border-color: red;
    z-index: 1;
}

.floatingLabel.secondary {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

/*
| --------------------------------
| Bibliography
| --------------------------------
*/

#biblioRoot {
    position: relative;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    flex: none;
    transition: opacity var(--speed) ease-out, transform var(--speed) ease-out;
    opacity: 0;
    transform: translateX(100%);
    overflow: hidden;
}

#biblioRoot::before {
    --gap: var(--10);
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: var(--gap);
    bottom: var(--gap);
    left: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.4)
}

#biblioContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: var(--10) var(--4) var(--4);
    width: 20rem;
    overflow-y: auto;
    z-index: 20;
    user-select: none;
}

#biblioRoot.open {
    opacity: 1;
    transform: translateX(0%);
}

.biblio-nodes {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.biblio-nodesTitle {
    font-size: var(--4);
    margin-bottom: var(--4);
}

.biblio-nodes li {
    font-size: .8125rem;
}

.biblio-nodes li::first-letter {
    text-transform: uppercase;
}

.biblio-nodes li + li {
    margin-top: var(--2);
}

.biblio-links {
    font-size: .6875rem;
    margin: 2rem 0;
    color: red;
}

/*
| --------------------------------
| Credits
| --------------------------------
*/

#credits {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    z-index: 100;
    background: hsla(0, 0%, 0%, .4);
    opacity: 0;
    animation: fadeout 350ms ease-in both;
    user-select: none;
}

#credits[aria-hidden=false] {
    display: flex;
    animation: fadein 350ms ease-out both;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    to {
        display: none;
    }
}

.credit-modal {
    position: relative;
    width: 100%;
    max-width: 60rem;
    padding: 2rem;
    border: 1px solid hsla(0, 0%, 100%, .16);
    border-radius: var(--2);
    background: var(--dark-blue);
}

.credit-modal h2 {
    font-size: var(--8);
    font-weight: normal;
    margin: 0 0 24px 0;
}

.credit-modal h3,
.credit-modal p {
    max-width: 40rem;
    font-size: var(--4);
}

.credit-modal h3 {
    max-width: 30rem;
    margin-bottom: var(--2);
    line-height: 1.25;
}

.credit-modal p {
    margin-top: 0;
    margin-bottom: var(--8);
}

#credits button[data-action="credits:close"] {
    position: absolute;
    top: var(--4);
    right: var(--4);
}

/*
| --------------------------------
| Context controls
| --------------------------------
*/

#contextControls {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--3-5);
}

.contextName {
    margin: 0 var(--4);
    min-width: 20rem;
    text-align: center;
}

#modes {
    margin: 0;
    padding: var(--1);
    display: flex;
    width: 20rem;
    border: 1px solid white;
    border-radius: var(--2);
    gap: var(--2);
    list-style: none;
    justify-self: center;
}

#modes li {
    flex: 1;
    padding: 0;
    margin: 0;
}

#modes li button {
    width: 100%;
    border: none;
}

#modes li button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.16);
}

#modes li button:active,
#modes li button.active {
    color: var(--dark-blue);
    background: rgba(255, 255, 255, 1);
}

/*
| --------------------------------
| Legend
| --------------------------------
*/

#legendRoot {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    padding-bottom: 16%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: var(--2-5);
    flex-direction: column;
    gap: var(--16);
}

#legendRoot svg,
#legendRoot img {
    fill: white;
    color: white;
    margin-bottom: 1.25rem;
    max-width: 6.5rem;
}

#legendRoot figure {
    text-align: center;
    padding: 0;
    margin: 0 var(--4);
}

#legendRoot figcaption {
    width: 8.5rem;
}