@import "parts/diagram.css";
@import "parts/labels.css";
@import "parts/bibliography.css";
@import "parts/credits.css";
@import "parts/navigation.css";
@import "parts/legend.css";
@import "parts/popup.css";
@import "parts/lexicon.css";

#app {
    --sideColumn: 20rem;
    --speed: 500ms;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: var(--12) 1fr var(--16);
    grid-template-columns: var(--sideColumn) 1fr var(--sideColumn);
    overflow: hidden;
    /*transition: grid-template-columns var(--speed) ease-out;*/
}


/*
| --------------------------------
| Attrubution
| --------------------------------
*/

#attribution {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 2rem;
    font-size: .75rem;
}

#attribution cite {
    font-style: normal;
    text-transform: uppercase;
    opacity: .4;
}
