<div class="demo-selector" style="display: none; opacity: 0">
	<div>
		<p>Quelle démonstration interactive voulez-vous choisir&nbsp;?</p>
		<ul>
			<li>
				<button data-demo="essential">
					Essentielle<br />
					<em>Je découvre</em>
				</button>
			</li>
			<li>
				<button data-demo="complete" disabled>
					Complète<br />
					<em>Je comprends</em>
				</button>
			</li>
			<li>
				<button data-demo="advanced" disabled>
					Avancée<br />
					<em>Je maîtrise</em>
				</button>
			</li>
		</ul>
	</div>
</div>