<div id="demo-12" class="presentor-item tutorial-regular tutorial--action right" style="opacity:0">
	<p>
		Sélectionnez<br />
		la condition de santé<br />
		&laquo; troubles du sommeil &raquo;.
	</p>
</div>

<div id="demo-13" class="presentor-item tutorial-regular tutorial--bordered right" style="opacity: 0">
	<p>
		En rouge, s'affichent<br />
		les déterminants de santé<br />
		et les paramètres<br />
		d'aménagement urbain<br />
		pouvant avoir une<br />
		influence sur les troubles<br />
		du sommeil.
	</p>
</div>

<div id="demo-14" class="presentor-item tutorial-regular tutorial--bordered right" style="opacity: 0">
	<p>
		Bruit, exposition au soleil,<br />
		interaction avec la nature…
	</p>
	<p>
		Plusieurs familles<br />
		de déterminants de santé<br />
		sont concernés.
	</p>
</div>

<div id="demo-15" class="presentor-item tutorial-regular tutorial--action right" style="opacity: 0">
	<p>
		Sélectionnez<br />
		le déterminant &laquo; interactions<br />
		avec des espaces naturels &raquo;.
	</p>
</div>

<div id="demo-16" class="presentor-item tutorial-regular tutorial--bordered right" style="opacity: 0">
	<p>
		En rouge s'affichent les<br />
		pathologies pouvant être<br />
		influencées par les<br />
		interactions avec des<br />
		espaces naturels, ainsi<br />
		que les paramètres<br />
		d'aménagement urbain<br />
		favorables à ce déterminant.
	</p>
</div>

<div id="demo-17" class="presentor-item tutorial-regular left" style="opacity: 0">
	<p>
		Les interactions avec<br />
		des espaces naturels peuvent<br />
		avoir une influence sur la santé<br />
		physique mais également sur la<br />
		santé mentale et sociale.
	</p>
</div>

<div id="demo-18" class="presentor-item tutorial-regular tutorial--action right" style="opacity: 0">
	<p>
		Sélectionnez le paramètre<br />
		d'aménagement &laquo; richesse<br />
		de la biodiversité dans<br />
		les espaces verts &raquo;.
	</p>
</div>

<div id="demo-19" class="presentor-item tutorial-regular tutorial--bordered right" style="opacity: 0">
	<p>
		En rouge, s'affichent tous<br />
		les déterminants de santé<br />
		et les pathologies associées<br />
		pouvant être influencés par<br />
		cet aménagement urbain.
	</p>
</div>

<div id="demo-20" class="presentor-item tutorial-regular left" style="opacity: 0">
	<p>
		La richesse de la biodiversité<br />
		dans les espaces verts jouera<br />
		aussi positivement sur d'autres<br />
		déterminants de santé, tels que<br />
		l'activité physique et la diversité<br />
		des ambiances sensorielles.
	</p>
</div>

<div id="demo-21" class="presentor-item tutorial-regular left" style="opacity: 0">
	<p>
		Un <strong>lexique</strong> est disponible<br />
		pour approfondir les notions<br />
		abordées dans cet outil,<br />
		regroupées en <strong>trois grandes<br />
		thématiques :</strong> santé, déterminants<br />
		de santé et aménagement urbain.
	</p>
</div>

<div id="demo-22" class="presentor-item tutorial-regular center" style="opacity: 0">
	<p>
		A vous de jouer maintenant…<br/>
		bonne exploration !
	</p>
</div>