<div id="demo-1" class="tutorial-regular center" style="opacity: 0">
	<p>
		Quand on pense à la santé, on pense d'abord<br />
		aux médecins, aux médicaments, aux hôpitaux...
	</p>
	<p>
		mais beaucoup moins à l'environnement<br />
		dans lequel nous vivons
	</p>
</div>

<div id="demo-2" class="tutorial-regular center" style="opacity: 0">
	<p>
		<strong>Notre santé est toutefois influencée par de multiples facteurs</strong><br />
		dont les effets se cumulent tout au long de la vie.
	</p>
</div>

<div id="demo-3" class="tutorial-regular center" style="opacity: 0">
	<p>
		Les recherches scientifiques menées sur ces facteurs,<br>
		appelés <strong>les déterminants de santé,</strong><br>
		révèlent une réalitée souvent méconnue :
	</p>
	<p id="demo-3-2" style="opacity: 0">
		Les soins médicaux et la génétique n'expliqueraient<br />
		qu'environ <strong>30% de notre état de santé.</strong>
	</p>
</div>

<div id="demo-4" class="tutorial-regular center" style="opacity: 0">
	<p>
		<strong>Les 70 % restants</strong> dépendent de notre situation sociale et économique,<br />
		de nos modes de vie et de notre environnement au quotidien :
	</p>
	<p id="demo-4-2" style="opacity: 0">
		la qualité de nos logements, l'air que nous respirons,<br />
		notre proximité avec la nature, notre facilité à nous déplacer<br />
		à pied ou à vélo, le sentiment de sécurité dans notre quartier…
	</p>
</div>

<div id="demo-5" class="tutorial-regular center" style="opacity: 0">
	<p>
		<strong>
			Agir sur la ville,<br />
			c'est donc agir sur la santé de celles et ceux qui l'habite.
		</strong>
	</p>
</div>

<div id="demo-6" class="tutorial-regular center" style="opacity: 0">
	<p>
		Comment le cadre de vie influence-t-il concrètement notre santé ?
	</p>
	<p>
		Avec le diagramme interactif<br />
		&laquo; Ce qui nous lie &raquo;,<br />
		<strong>
			partez à la découverte des relations entre cadre de vie,<br />
			déterminants de santé et bien-être humain<br />
		</strong>
		cartographiées à partir d'une revue de la littérature<br />
		scientifique réalisée par la Fondation AIA en 2020
	</p>
</div>

<div id="demo-7" class="tutorial-regular left" style="opacity: 0">
	<p>
		Ce diagramme<br />
		rend visible les liens entre :
	</p>
	<p>
		<strong id="demo-7-2" style="opacity: 0;">la santé humaine</strong><br />
		<strong id="demo-7-3" style="opacity: 0;">les déterminants de santé</strong><br />
		<strong id="demo-7-4" style="opacity: 0;">le cadre de vie</strong>
	</p>
</div>

<div id="demo-8" class="tutorial-regular right" style="opacity: 0">
	<p>
		On réduit souvent la santé<br />
		à l'absence de maladie.
	</p>
	<p>
		L'Organisation Mondiale<br />
		de la Santé en donne pourtant<br />
		une définition bien plus large :<br />
		un état de bien-être physique,<br />
		mental et social.
	</p>
</div>

<div id="demo-9" class="tutorial-regular right" style="opacity: 0">
	<p>
		Bruit ambiant, accès aux services,<br />
		qualité des logements,<br />
		équipements sportifs…
	</p>
	<p>
		Notre environnement influence<br />
		notre santé bien plus<br />
		qu'on ne l'imagine.
	</p>
	<p>
		D'un quartier à l'autre,<br />
		ces facteurs ne posent pas<br />
		les mêmes défis :<br />
		certains seront des atouts,<br />
		d'autres des fragilités pour<br />
		la santé des habitants…
	</p>
</div>

<div id="demo-10" class="tutorial-regular right" style="opacity: 0">
	<p>
		Construire un immeuble,<br />
		végétaliser une rue, ouvrir<br />
		un centre de santé, aménager<br />
		des pistes cyclables… Chaque<br />
		décision urbaine transforme le<br />
		cadre de vie des habitants.
	</p>
	<p>
		Toutes les dimensions<br />
		de la ville ont une incidence<br />
		sur le vécu et le bien-être de<br />
		celles et ceux qui l'habitent.
	</p>
</div>

<div id="demo-11" class="tutorial-regular tutorial--bordered left" style="opacity: 0">
	<p>
		Cette démonstration<br />
		interactive vous invite<br />
		à explorer le diagramme<br />
		<strong>&laquo; Ce qui nous lie &raquo;</strong> développé<br />
		par la Fondation AIA.
	</p>
	<p>
		Démarrons maintenant<br />
		la navigation
	</p>
</div>