<div class="lexicon_content" data-tab="lexicon:determinant" style="display: none">
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-socio-economic.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Socio-économie</div>
	<div class="lexicon_row-content">
		<p>
			Caractéristiques sociales et économiques d'une population ou d'un
			territoire (revenus, emploi, niveau d'études, accès aux services...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-lifestyle.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Modes de vie</div>
	<div class="lexicon_row-content">
		<p>
			Habitudes et comportements qui rythment le quotidien des individus
			(activité physique, alimentation, loisirs, déplacements…).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-building-quality.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Qualité du bâti</div>
	<div class="lexicon_row-content">
		<p>
			Caractéristiques des bâtiments qui influencent les conditions de vie et de
			confort des occupants (isolation, luminosité, ventilation, accessibilité...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-functional-mixity.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Mixité fonctionnelle</div>
	<div class="lexicon_row-content">
		<p>
			Diversité des activités et des services présents dans un même quartier ou
			territoire (logements, commerces, écoles, emplois, loisirs...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-audio.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Paysage et ambiances</div>
	<div class="lexicon_row-content">
		<p>
			Caractéristiques perceptibles d'un lieu qui participent à son identité et à
			son cadre de vie (vues, végétation, sons, éclairage, animation, etc.)
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-ext-usages.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Usages extérieurs</div>
	<div class="lexicon_row-content">
		<p>
			Usages et pratiques observés dans les espaces publics et de plein air
			(déplacements, loisirs, rencontres, détente...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-intermodality.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Intermodalité</div>
	<div class="lexicon_row-content">
		<p>
			Possibilité de combiner facilement plusieurs modes de déplacement pour
			un même trajet (marche, vélo, bus, métro, train, voiture...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-biodiversity.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Territoires et biodiversité</div>
	<div class="lexicon_row-content">
		<p>
			Caractéristiques des milieux naturels et des écosystèmes d'un territoire
			(espaces verts, cours d'eau, espèces animales et végétales…).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/determinant-pollution.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Pollutions et nuisances</div>
	<div class="lexicon_row-content">
		<p>
			Facteurs susceptibles d'altérer la qualité de l'environnement et du cadre de
			vie (pollution de l'air, bruit, chaleur, odeurs, pollution lumineuse...).
		</p>
	</div>
</div>