<div class="lexicon_content" data-tab="lexicon:exposom">
	<p>
		<strong>L'exposome urbain</strong> correspond à l'ensemble des facteurs et expositions liés au cadre de
		vie
		urbain susceptibles de façonner la santé et le bien-être des populations. Il résulte de l'interaction
		dynamique entre les caractéristiques environnementales, physiques, sociales, économiques et
		organisationnelles de la ville, dont les effets varient selon les territoires et au cours du temps.
	</p>
	<p>
		L'étude de l'exposome urbain permet de mieux comprendre pourquoi certaines populations sont
		davantage exposées à des facteurs favorables ou défavorables à la santé, afin d'aider les
		décideurs à concevoir des villes plus saines et plus équitables.
	</p>
	<p>
		Il peut être appréhendé comme le résultat des interactions entre les caractéristiques de
		l'aménagement urbain, les déterminants de santé qu'elles influencent, et les effets qui en
		découlent sur l'état de santé des populations.
	</p>
</div>