<div class="lexicon_content" data-tab="lexicon:facility" style="display: none">
	<div class="lexicon_row-img">
		<img src="/image/lexicon/facility-fabric.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Tissu urbain et bâtiments</div>
	<div class="lexicon_row-content">
		<p>
			Organisation et caractéristiques des bâtiments et aménagements
			urbains qui composent un territoire (maisons, immeubles, commerces,
			équipements....).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/facility-spaces.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Espaces naturels et paysagers</div>
	<div class="lexicon_row-content">
		<p>
			Espaces de nature et de végétation qui contribuent à la qualité du
			cadre de vie et aux équilibres écologiques (parcs, jardins, arbres,
			cours d’eau…).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/facility-public.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Espaces publics et aménités urbaines</div>
	<div class="lexicon_row-content">
		<p>
			Lieux, équipements et services qui favorisent les interactions
			sociales et les activités du quotidien (places, bancs, aires
			sportives...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/facility-mobility.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Mobilités et infra-structures de transport</div>
	<div class="lexicon_row-content">
		<p>
			Moyens, réseaux et aménagements permettant de se déplacer sur
			un territoire (route, piste cyclable, trottoir, transport en commun...).
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/facility-uses.svg" alt="" />
	</div>
	<div class="lexicon_row-title">Usages et fonctions</div>
	<div class="lexicon_row-content">
		<p>
			Activités, services et fonctions présents dans un territoire qui
			répondent aux besoins de la population (habiter, étudier, travailler,
			faire ses courses, se divertir...).
		</p>
	</div>
</div>