<div class="lexicon_content" data-tab="lexicon:pathology" style="display: none">
	<div class="lexicon_row-img">
		<img src="/image/lexicon/health-physical.svg" alt="Physical health" />
	</div>
	<div class="lexicon_row-title">Santé physique</div>
	<div class="lexicon_row-content">
		<p>
			État de bien-être du corps permettant de réaliser les activités de la vie
			quotidienne, de se déplacer, de préserver son autonomie et de pratiquer
			les activités nécessaires ou choisies selon son mode de vie.
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/health-mental.svg" alt="Mental health" />
	</div>
	<div class="lexicon_row-title">Santé mentale</div>
	<div class="lexicon_row-content">
		<p>
			État de bien-être psychologique et émotionnel permettant de faire face
			aux situations de la vie, de gérer ses émotions, de développer ses
			capacités, de prendre des décisions et de participer à la vie de la société.
		</p>
	</div>
	<div class="lexicon_row-img">
		<img src="/image/lexicon/health-social.svg" alt="Social health" />
	</div>
	<div class="lexicon_row-title">Santé sociale</div>
	<div class="lexicon_row-content">
		<p>
			État de bien-être lié à la qualité des relations avec les autres, au
			sentiment d'appartenance, à la participation à la vie collective et à la
			capacité de bénéficier de ressources et de soutiens, notamment en
			matière de santé.
		</p>
	</div>
</div>