<aside id="context-details" class="popup" aria-hidden="true" style="display: none">
	<div class="popup-modal">
		<button class="popup-close" data-action="context:close">&times;</button>
		<div class="popup-header">
			<span data-translate="general.what binds us">Ce qui nous lie</span><br />
			<h2>Portrait de quartier</h2>
		</div>

		<img class="context-img-main" data-key="context:img:main" src="" />

		<div class="context-content">
			<h3 data-key="context:title"></h3>

			<h4>L'histoire du quartier</h4>
			<p data-key="context:history:content"></p>

			<h4>Les enjeux de santé propres à ce quartier</h4>
			<p data-key="context:stake:content"></p>

			<h4>Un aperçu du quartier en images</h4>
			<ul class="context-glance" data-key="context:img:glance">

			</ul>
		</div>
	</div>
</aside>