<aside id="credits" class="popup" aria-hidden="true" style="display: none">
	<div class="popup-modal">
		<button class="popup-close" data-action="credits:close">&times;</button>
		<div class="popup-header">
			<span data-translate="general.what binds us">Ce qui nous lie</span><br />
			<h2 data-translate="general.credits">Credits</h2>
		</div>

		<div class="credit-modal">
			<div class="credit-block">
				<p>
					<strong data-translate="general.credits.scientificTitle"></strong>&nbsp;:
					<span data-translate="general.credits.scientificContent"></span>
				</p>

				<p>
					<strong data-translate="general.credits.researchTitle"></strong>&nbsp;:
					<span data-translate="general.credits.researchContent"></span>
				</p>

				<p>
					<strong data-translate="general.credits.designTitle"></strong>&nbsp;:
					<span data-translate="general.credits.designContent"></span>
				</p>

				<p>
					<strong data-translate="general.credits.caseStudyTite"></strong>&nbsp;:
					<span data-translate="general.credits.caseStudyContent"></span>
				</p>
			</div>

			<div class="credit-block">
				<p>
					<strong data-translate="general.credits.iconographyTitle"></strong>&nbsp;:
					<span data-translate="general.credits.iconographyContent"></span>
				</p>

				<p>
					<strong data-translate="general.credits.thanksTitle"></strong>&nbsp;:
					<span data-translate="general.credits.thanksContent"></span>
				</p>
			</div>

			<p><strong data-translate="general.credits.context"></strong></p>
			<p><strong>&copy; Fondation AIA, 2026</strong></p>
		</div>
	</div>
</aside>