<div id="navigation">
	<div data-key="actions-side" style="justify-self: start; display: flex; gap: .5rem">
		<button data-action="demo:close" data-translate="general.demo_close" style="opacity: 0; display: none">
			Quitter le tutoriel
		</button>
		<button data-action="locale:toggle" style="text-transform: uppercase" data-locale-current>
			FR
		</button>
		<button data-action="credits:open" data-translate="general.credits">
			Credits
		</button>
		<button data-action="demo:open" data-translate="general.demo">
			Tutoriel
		</button>
	</div>

	<ul id="modes">
		<li>
			<button class="active" data-action="mode:change:basic" data-mode="basic"
					data-translate="general.controls.mode.simple">
				Simple
			</button>
		</li>
		<li>
			<button data-action="mode:change:detailled" data-mode="detailled"
					data-translate="general.controls.mode.detailled">
				Detailled
			</button>
		</li>
		<li>
			<button data-action="mode:change:focus" data-mode="focus" data-translate="general.controls.mode.focus">
				Determinants
			</button>
		</li>
	</ul>

	<div style="justify-self: end" data-key="actions-side">
		<button data-action="lexicon:open" data-translate="general.lexicon">
			Lexicon
		</button>
		<button id="biblioToggle" data-action="biblio:toggle" style="margin-left: 8px">Bibliography</button>
	</div>
</div>